@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap');

body {
  font-family: 'Prompt', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
  }
  
  body {
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-container {
    display: flex;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
  
  .login-sidebar {
    background-color: #0155cf;
    width: 50%;
    padding: 40px ;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  .logo-container {
    background-color: white;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 90px;
  }
  
  .logo-text {
    font-weight: bold;
    color: #0155cf;
  }
  
  .sidebar-title {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .sidebar-description {
    font-size: 20px;
    line-height: 1.5;
  }
  
  .login-form {
    width: 50%;
    padding: 40px 60px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .form-title {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-subtitle {
    margin-top: -10px;
    font-size: 1rem;
    margin-bottom: 20px;
    color: #666;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 8px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f7f7f7;
  }
  
  .login-button {
    background-color: #0155cf;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .signup-link {
    text-align: center;
    font-size: 14px;
    color: #666;
  }
  
  .signup-link a {
    color: #0155cf;
    text-decoration: none;
    font-weight: bold;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  